Jinja2
MarkupSafe
Pillow
Pygments
appnope
certifi
cycler
decorator
ipykernel
ipython
ipywidgets
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pexpect
pickleshare
ptyprocess
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scipy
six
terminado
tornado
traitlets
